/* Order.css */
.order-container {
    padding: 20px;
  }
  
  .order-heading {
    font-size: 24px;
    font-weight: bold;
  }
  
  .order-item {
    margin-bottom: 20px;
  }
  
  .order-id {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .order-total {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .order-payment-date {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
   .order-products-list {
    display: flex;
    flex-wrap: wrap;
  } 
  
  /* .order-product {
    flex: 0 0 33.33%;
    padding: 10px;
  }  */
  
  /* .orderDiv {
    border: 1px solid #ccc;
    padding: 10px;
  } */
  
  /* .product {
    display: flex;
  } */
  
  .img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
  
  /* .product-details {
    flex: 1;
  } */
  
  .rate {
    margin-bottom: 5px;
  }
  
  .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  