@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.cont {
  max-width: 90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.j_flex{
  display: flex;
  justify-content: center;
  align-items: center;

}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.log{
  width: 90px;
  height: 70px;
}


.contentWidth {
  width: 77%;
}

.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #3f0725;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #5e1b48;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*---------product-----------*/
.product {
  background: #f9f7f7;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
} 
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
} 



.product:hover .product-like {
  opacity: 1;
}
/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 50%;
  padding: auto;

border:none;

   background: #eeeff1;
 border-radius: 50%; 
  transform: 0.5s;
  z-index: 7;
}
.control-btn .prev {
  left: -30px;
}
.control-btn .next {
  right: -30px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 30px;
  transition: 0.5s;
  color: #110f0f;
  

}
.control-btn .prev:hover,
.control-btn .next:hover {

  cursor: pointer;
}
/* ----- control btn -------*/ 
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: rgb(118, 20, 20);
}
 /* ----- heading ------- */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
a:hover{
  direction: none;
   color: #754404;
}

.submit{  
  background-color: #FFCD05;
  border-color:black;
  color: black;
}

 .found{
  text-align: center;
  width: 100%;
  height: 400px;
 }
  
  