@media (min-width: 600px) {
    .root-container {
        
    text-align: center;
    background-color: #F6F6F9;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 50px;
  
  }
  
  .list {
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-right: 50px;
  }
  
  .item-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .item-image {
    width: 130px;
    height: 120px;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .decrease-button,
  .increase-button {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
  }
  
  .delete-button {
    margin-top: 10px;
  }
  
  .total-container {
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .order-button {
    background: linear-gradient(to right, #4D1175, #4D1175);
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 100px;
    color: white;
    font-weight: bold;
  }
}
 
  
  